/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 6, 2015, 12:14:47 PM
    Author     : vitaliyk
*/
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
#error, #success{
    display: none;
}
.active-place {
    margin: 100px auto;
    max-width: 400px;
}
.form-control {
    height: auto;
    padding: 10px;
}
label{
    font-size: 20px;
    font-weight: normal;
}
.alert-danger {
  margin-top: 20px;
}